/*  
Theme Name: Symbiosis 
Theme URI: http://metabiosis.goto10.org/
Description: A theme for the <a href="http://metabiosis.goto10.org">metabiosis</a> project.
Version: 0.1
Author: Aymeric Mansoux
Author URI: http://320x200.goto10.org/

        This theme was designed and built hacking the
        livingOS beta theme from Tim Hyde

	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php
*/

*{
  margin: 0;
  padding: 0;
  border: 0;
}

/*-------body stuff------*/

body {
	margin: 0;
	padding: 0;
	background: url(images/bg-bugs.png) center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	/*line-height: 1.8em;*/
	color: #434343;
	min-width:780px;
	text-align:center;
	}
#page 	{
	text-align: left;
	margin-left: 24px;
	padding: 0;
	width: 780px;
	background: url(images/bg.png) repeat-y right ;
	}	

/*---------header--------*/
#header {
 	width:478px;
	height:142px;
	background: url(images/banner-web.png) ;
	margin-left:24px;
}

#header h1{
	height:440px;
	cursor: pointer;}
	
#header h1 span{display: none;}

.description{display:none;}

#page hr {
	display:none;
}

/*----general----*/
h2, h3, h4 {
/*	font-size: 1.5em;*/
	font: 1.2em Georgia, "Times New Roman", Times, serif normal;}


a {color: #000;}

a:hover {color: #c0c1c1;}

blockquote {
  margin: 1em 0em 1em 2em;
  background: url(images/quote2.png) no-repeat left top;}

blockquote p {
  margin:0 0 .75em;
  font-style:italic;
  color:#666;
  background: url(images/quote.png) no-repeat right bottom;}

blockquote p em {
  font-style:normal;
  }

/*--------images-----------*/

img {
	padding: 0px;
	border: 2px  dotted #7bafff;
	margin: 5px;}

a img {
	border: 1px #d3dcc7 solid;}

a:hover img {border: 1px #1f6f78 solid}

/* ----- forms ------- */

#respond {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	color: #7bafff;
	/*line-height: 1em;*/
	padding-left: 15px;}

input, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	background: #f8f8f8;
	border:1px solid #999;
	border-color:#999 #eef #eef #999;
	padding:1px;
	color: #444;}

input:focus, textarea:focus {background: #ffffff;}

input:hover, textarea:hover {
	background:#ffffff;
	cursor:text;}

input#submit {
	color: #7bafff;
	border: 1px solid #7bafff;
	background-color: white;}

input#submit:hover {
	color: #fa3ea4;
	border: 1px solid #fa3ea4;
	cursor: pointer;}

input#s {
	width: 70%;
	font-size: 1em;
	}

#commentform {
	color: #7bafff;} 
	
#commentform input {
	color: #7bafff;
	border: 1px solid #7bafff;
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;}

#commentform input:hover {
	color: #fa3ea4;
	border: 1px solid #fa3ea4;}

#commentform textarea {
	color: #7bafff;
	border: 1px solid #7bafff;
	width: 97%;
	padding: 2px;}

#commentform textarea:hover {
	color: #fa3ea4;
        border: 1px solid #fa3ea4;
	}

#commentform #submit {
	color: #7bafff;
	margin: 0;
	float: right;
	margin-right: 10px;
	margin-top: 10px;}


/*-------main navigation----*/

#nav { 
	margin-left: 0px; 
	margin-top: px;
	background-color: #ffffff;
	border-left: 1px #252525 solid;
	border-bottom: 1px #252525 solid;
	border-right: 1px #252525 solid;}


#nav #last a { margin-right: 0; }

#nav a { 
	float: left; 
	height: 15px; 
	margin-left: 10px;
	margin-right: 10px; 
	text-decoration: none; }

#nav a:hover { border-bottom: 2px #ccc dotted; }

#nav li { display: inline; margin: 0; text-align: center; }

#nav ul { 
	height: 23px; 
	list-style: none; 
	margin: 0;
	padding: 0; 
	text-transform: uppercase; }


/*----------content div parameters---------*/

#content {
	float: left;
	padding: 0px 0px 30px 0px;
	margin-left: 24px;
	width: 472px;}

.notfound {
	color: #fa3ea4;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 4.5em;
	letter-spacing: -.06em;}


/*-------sidebar----*/
.sidebar{
	font-family: Georgia, "Times New Roman", Times, serif;	
	font-size: 1em;
	font-weight: bold;
	color: #ffffff;
	/*line-height: 1.2em;*/
}

#sidebar-1 {
	float:right;
	padding: 10px 0px 0px 0px;
	margin-left: 0px;
	width: 137px;
	margin-bottom: 20px;}
	
#sidebar-2{
	float: right;
	padding: 10px 0px 0px 0px;
	margin-left: 0px;
	width: 137px;
	margin-bottom: 20px;}

#sidebar-1 h3, #sidebar-1 h2{
	color: #035d99;
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-size: 1.5em;
	font-weight: normal;
	letter-spacing: -.05em;
	background: url(images/sidebug1.png) no-repeat left center;
	padding-left:18px;}

#sidebar-2 h3, #sidebar-2 h2{
	color: #8c1757;
	font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 1.5em;
	font-weight: normal;
	letter-spacing: -.05em;
	background: url(images/sidebug2.png) no-repeat left center;
	padding-left:18px;}

.sidebar ul {margin: 0;
padding: 0;
list-style-type: none;
font-size: 1em;}

.sidebar li {
	margin: 0px 0 0px 8px;
	color: #ffffff;}

.sidebar li a {color: #ffffff;
text-decoration: none;}

.sidebar li li li{padding-left: 5px;}

.sidebar a {
	color: #ffffff;
	text-decoration: none;}

#sidebar-1 li a:hover {
	color: #7bafff;
	background: white;}

#sidebar-2 li a:hover {
        color: #fa3ea4;
        background: white;}
		

/*---recent posts----*/
#latest{
	background-color: #adceff;
	margin-bottom:1em;
	font-size: 80%;
	/*line-height: 1.2em;*/
	color:white;
	margin-top: 1em;
	border: 2px dotted white;}

#latest h2{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:1.4em;
	letter-spacing: -.02em;
	color: #adceff;
	padding-left: 5px;
	border-bottom: 2px dotted #adceff;
	background: white;}

#latest ul{
	padding: 4px;}

#latest li{
	list-style-type: none;
	padding-left: 20px;}

#latest a{
 	color:white;
	text-decoration: none;}

#latest a:hover{
 	color:white;
	text-decoration: underline;}

/*-----post stuff----*/
.post{
/*	background-color: #fafaff;*/
	margin-bottom: 1.5em;
	margin-right:5px;
	border-bottom: 2px dotted #7bafff;}

.post a{
	color:#fa3ea4;}


.post h3 {
color: #434343;
margin-bottom: 0.5em;
}

.post h2 {
	color: #fa3ea4;
	margin-bottom: 0.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2.4em;
	letter-spacing: -.05em;
	background: url(images/titlebug.png) no-repeat left center;
	padding-left: 32px;}

.post h2 a{
	color: #fa3ea4;
	text-decoration: underline;}

.post h2 a:hover{
	color: white;
	background: #fa3ea4;
	text-decoration: underline;}

.post ul{
padding-bottom: 0.1em;}
.post li{
margin-left: 2em;
list-style-type: square;}

.post p{
	margin-bottom: 10px;
	margin-left: 15px;}
	
.post small{
	margin-left: 15px;
	color: #7bafff;
	font-size: 0.9em;
	font-family: Georgia, "Times New Roman", Times, serif;}


.postmetadata{
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 0.9em;
color: #7bafff;
/*line-height: 1em;*/
padding-bottom: 0.5em;}

.postmetadata a{
	color: #7bafff;}

ol.commentlist li{
	font-family: Georgia, "Times New Roman", Times, serif;
	border: 2px dotted #adceff;
	background-color: white;
	list-style-type: none;
	padding: 5px;
	margin: 0.5em;}

small.commentmetadata a{
	color: #7bafff;}

h3#comments {
	color: #7bafff;
	margin-left: 8px;
	letter-spacing: -0.1em;}

.entry{
        /*line-height: 1.1em;*/
        margin-right: 10px;}

.entrytext{
	/*line-height: 1.1em;*/
	margin-right: 10px;}

.entrymore a{
	color: #fa3ea4;}

/*-----------footer-----------*/

#footer {
	color: #7bafff;
	clear: both;
	text-align: left;
	height: 10px;
	background: url(images/bg-cloud.png) top no-repeat;
	padding: 172px 5px 5px 30px;
	font-size: 0.7em;
	/*line-height:1.1em;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;}

#footer a {color: #7bafff;}

/*----post nav-----*/

.navigation{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #7bafff;
	height:2em;}

.navigation a {
	color: #7bafff;}

.alignright {float: right;}

.alignleft {float: left}
.clear{clear:both;}i

